// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Vuetify
@import '~vuetify/dist/vuetify.min.css';

// Vuetify Files
@import "https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css";
@import "https://fonts.googleapis.com/css?family=Material+Icons";
@import '~vuetify/dist/vuetify.css';


.v-btn__content {
    align-items: center;
    color: inherit;
    // display: flex;
    // flex: 1 0 auto;
    justify-content: inherit;
    line-height: normal;
    position: relative;
    transition: inherit;
    transition-property: opacity;
    max-width: 250px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: initial;
}

// When the width of this document is 1024 pixels or more, follow these
@media only screen and (min-width: 1024px) {
    .v-btn__content {
        align-items: center;
        color: inherit;
        justify-content: inherit;
        line-height: normal;
        position: relative;
        transition: inherit;
        transition-property: opacity;
        max-width: 770px;

        display: inline-block;
        white-space: normal;
    }
  }


